<h1>Angular homework</h1>

<nav>
  <a routerLink="/project-list" routerLinkActive="active">Projects</a>
  <a routerLink="/task-list" routerLinkActive="active">Tasks</a>
  <a routerLink="/team-list" routerLinkActive="active">Teams</a>
  <a routerLink="/user-list" routerLinkActive="active">Users</a>
</nav>

<div>
  <p>footer</p>
</div>
